@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';


body{
  font-family: 'Lora', sans-serif;
}

.cover{
  background-image: url(assets/images/marta-moya-ljRnNh6VJDs-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

.coverText{
  padding-top: 15%;
  padding-left: 20%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #424242;
  background-color: rgba(255,255,255, 0.7);
  text-align: center;
  margin-bottom: 35px;
}
h1{
  font-size: 60px;
  width: 65%;
  top:50%;
  left:50%;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 21px;
}

h4{
  padding: 10px;
  font-size: 16;
  width: 65%;

}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #424242;
  /*background-color: #fff;*/
}

section {
  position: relative;
}


body {
  background-color: ghostwhite;
  margin: 0 auto;
}


section {
  margin: 0;
  padding: 0;
}

article {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 60rem;
}
article p {
  font-family: Georgia;
  font-size: 1.1rem;
  line-height: 1.8;
  min-height: 5vh;
  margin: 0;
}

article p:not(:last-of-type) {
  margin: 0 0 1rem;
}

figure {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 100vh;
  margin: 0;
  width: 100%;
  justify-content: center;
  top: 0;
  z-index: -1;
}


@media screen and (min-width: 35rem) {
  figure {
    position: sticky;
  }
}

.story-text{
	margin:0 auto;
	pointer-events:all;
	max-width:90rem;
	background-color:rgba(255, 255, 255, 0.88);
	padding:5rem;
	z-index:3;
	border-top:4px solid #51c2b9;
	border-bottom:4px solid #51c2b9;
	font-family:'National 2 Web';
	-webkit-box-shadow:0 3px 3px rgba(0,0,0,0.1);
	box-shadow:0 3px 3px rgba(0,0,0,0.1);
	width:90%
}
.gap {
	margin-top:700px;
	margin-bottom: 350px;
}
.footer{
	background-color: #202020;
	text-align: center;
	padding: 60px 0;
}
.footer span{
	color: #51c2b9;
}
.footer p{
	font-size: 12px;
	color: rgb(196, 196, 196ï¼Œ0.75);
	margin-bottom: 0;
	width: 100%;
}
.footer a{
	color: #fff;
}